<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="scoreItem">
            <h2><span jhiTranslate="marineindustryprojApp.scoreItem.detail.title">Score Item</span> {{scoreItem.id}}</h2>
            <hr>
            <mi-alert-error></mi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="marineindustryprojApp.scoreItem.title">Title</span></dt>
                <dd>
                    <span>{{scoreItem.title}}</span>
                </dd>
                <dt><span jhiTranslate="marineindustryprojApp.scoreItem.description">Description</span></dt>
                <dd>
                    <span>{{scoreItem.description}}</span>
                </dd>
                <dt><span jhiTranslate="marineindustryprojApp.scoreItem.score">Score</span></dt>
                <dd>
                    <span>{{scoreItem.score}}</span>
                </dd>
                <dt><span jhiTranslate="marineindustryprojApp.scoreItem.createUserLogin">Create User Login</span></dt>
                <dd>
                    <span>{{scoreItem.createUserLogin}}</span>
                </dd>
                <dt><span jhiTranslate="marineindustryprojApp.scoreItem.createDate">Create Date</span></dt>
                <dd>
                    <span>{{scoreItem.createDate}}</span>
                </dd>
                <dt><span jhiTranslate="marineindustryprojApp.scoreItem.modifyUserLogin">Modify User Login</span></dt>
                <dd>
                    <span>{{scoreItem.modifyUserLogin}}</span>
                </dd>
                <dt><span jhiTranslate="marineindustryprojApp.scoreItem.modifyDate">Modify Date</span></dt>
                <dd>
                    <span>{{scoreItem.modifyDate}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/score-item-marine-suffix', scoreItem.id, 'edit']"
                    class="btn btn-primary edit-hide">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
