<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="securityLevel">
            <h2><span jhiTranslate="marineindustryprojApp.securityLevel.detail.title">Security Level</span> {{securityLevel.id}}</h2>
            <hr>
            <mi-alert-error></mi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="marineindustryprojApp.securityLevel.title">Title</span></dt>
                <dd>
                    <span>{{securityLevel.title}}</span>
                </dd>
                <dt><span jhiTranslate="marineindustryprojApp.securityLevel.code">Code</span></dt>
                <dd>
                    <span>{{securityLevel.code}}</span>
                </dd>
                <dt><span jhiTranslate="marineindustryprojApp.securityLevel.createUserLogin">Create User Login</span></dt>
                <dd>
                    <span>{{securityLevel.createUserLogin}}</span>
                </dd>
                <dt><span jhiTranslate="marineindustryprojApp.securityLevel.createDate">Create Date</span></dt>
                <dd>
                    <span>{{securityLevel.createDate}}</span>
                </dd>
                <dt><span jhiTranslate="marineindustryprojApp.securityLevel.modifyUserLogin">Modify User Login</span></dt>
                <dd>
                    <span>{{securityLevel.modifyUserLogin}}</span>
                </dd>
                <dt><span jhiTranslate="marineindustryprojApp.securityLevel.modifyDate">Modify Date</span></dt>
                <dd>
                    <span>{{securityLevel.modifyDate}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/security-level-marine-suffix', securityLevel.id, 'edit']"
                    class="btn btn-primary edit-hide">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
