<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="courseType" class="detail-page">
            <h2><span jhiTranslate="marineindustryprojApp.courseType.detail.title">Course Type</span> {{courseType.id}}</h2>
            <hr>
            <mi-alert-error></mi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="marineindustryprojApp.courseType.title">Title</span></dt>
                <dd>
                    <span>{{courseType.title}}</span>
                </dd>
                <dt><span jhiTranslate="marineindustryprojApp.courseType.code">Code</span></dt>
                <dd>
                    <span>{{courseType.code}}</span>
                </dd>
                <dt><span jhiTranslate="marineindustryprojApp.courseType.description">Description</span></dt>
                <dd>
                    <span>{{courseType.description}}</span>
                </dd>
                <dt><span jhiTranslate="marineindustryprojApp.courseType.createUserLogin">Create User Login</span></dt>
                <dd>
                    <span>{{courseType.createUserLogin}}</span>
                </dd>
                <dt><span jhiTranslate="marineindustryprojApp.courseType.createDate">Create Date</span></dt>
                <dd>
                    <span>{{courseType.createDate}}</span>
                </dd>
                <dt><span jhiTranslate="marineindustryprojApp.courseType.modifyUserLogin">Modify User Login</span></dt>
                <dd>
                    <span>{{courseType.modifyUserLogin}}</span>
                </dd>
                <dt><span jhiTranslate="marineindustryprojApp.courseType.modifyDate">Modify Date</span></dt>
                <dd>
                    <span>{{courseType.modifyDate}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

          <!--  <button type="button"
                    [routerLink]="['/course-type-marine-suffix', courseType.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>-->
        </div>
    </div>
</div>
