<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="mi-authority-heading" jhiTranslate="marineindustryprojApp.authority.home.createOrEditLabel">Create or edit a Authority</h2>
            <div>
                <mi-alert-error></mi-alert-error>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.authority.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="title" id="field_name"
                        [(ngModel)]="authority.name" required maxlength="100" pattern="^[_.@A-Za-z0-9-]*$"/>
                    <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.name?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.name?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 100 }">
                        This field cannot be longer than 100 characters.
                        </small>
                    </div>
                </div>
                <div class="alert alert-danger">لطفا فقط از حروف انگلیسی و اعداد در انتخاب نام نقش استفاده نمائید.</div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
