<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="mi-niazsanji-fardi-marine-suffix-heading" jhiTranslate="marineindustryprojApp.niazsanjiFardi.home.createOrEditLabel">Create or edit a Niazsanji Fardi</h2>
            <div>
                <mi-alert-error></mi-alert-error>
                <div class="form-group" [hidden]="!niazsanjiFardi.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="niazsanjiFardi.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.niazsanjiFardi.code" for="field_code">Code</label>
                    <input type="text" class="form-control" name="code" id="field_code"
                        [(ngModel)]="niazsanjiFardi.code" maxlength="100"/>
                    <div [hidden]="!(editForm.controls.code?.dirty && editForm.controls.code?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.code?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 100 }">
                        This field cannot be longer than 100 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.niazsanjiFardi.educationalModuleType" for="field_educationalModuleType">Educational Module Type</label>
                    <select class="form-control" name="educationalModuleType" [(ngModel)]="niazsanjiFardi.educationalModuleType" id="field_educationalModuleType"  required>
                        <option value="APPROVED">{{'marineindustryprojApp.EducationalModuleType.APPROVED' | translate}}</option>
                        <option value="ALL">{{'marineindustryprojApp.EducationalModuleType.ALL' | translate}}</option>
                    </select>
                    <div [hidden]="!(editForm.controls.educationalModuleType?.dirty && editForm.controls.educationalModuleType?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.educationalModuleType?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.niazsanjiFardi.priceCost" for="field_priceCost">Price Cost</label>
                    <input type="number" class="form-control" name="priceCost" id="field_priceCost"
                        [(ngModel)]="niazsanjiFardi.priceCost" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.niazsanjiFardi.description" for="field_description">Description</label>
                    <textarea class="form-control" name="description" id="field_description"
                        [(ngModel)]="niazsanjiFardi.description" ></textarea>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.niazsanjiFardi.createUserLogin" for="field_createUserLogin">Create User Login</label>
                    <input type="text" class="form-control" name="createUserLogin" id="field_createUserLogin"
                        [(ngModel)]="niazsanjiFardi.createUserLogin" maxlength="50"/>
                    <div [hidden]="!(editForm.controls.createUserLogin?.dirty && editForm.controls.createUserLogin?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.createUserLogin?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 50 }">
                        This field cannot be longer than 50 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.niazsanjiFardi.createDate" for="field_createDate">Create Date</label>
                    <div class="d-flex">
                        <input id="field_createDate" type="datetime-local" class="form-control" name="createDate" [(ngModel)]="createDate"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.niazsanjiFardi.modifyUserLogin" for="field_modifyUserLogin">Modify User Login</label>
                    <input type="text" class="form-control" name="modifyUserLogin" id="field_modifyUserLogin"
                        [(ngModel)]="niazsanjiFardi.modifyUserLogin" maxlength="50"/>
                    <div [hidden]="!(editForm.controls.modifyUserLogin?.dirty && editForm.controls.modifyUserLogin?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.modifyUserLogin?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 50 }">
                        This field cannot be longer than 50 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.niazsanjiFardi.modifyDate" for="field_modifyDate">Modify Date</label>
                    <div class="d-flex">
                        <input id="field_modifyDate" type="datetime-local" class="form-control" name="modifyDate" [(ngModel)]="modifyDate"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.niazsanjiFardi.archived" for="field_archived">Archived</label>
                    <input type="checkbox" class="form-control" name="archived" id="field_archived"
                        [(ngModel)]="niazsanjiFardi.archived" />
                    <div [hidden]="!(editForm.controls.archived?.dirty && editForm.controls.archived?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.archived?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.niazsanjiFardi.archivedUserLogin" for="field_archivedUserLogin">Archived User Login</label>
                    <input type="text" class="form-control" name="archivedUserLogin" id="field_archivedUserLogin"
                        [(ngModel)]="niazsanjiFardi.archivedUserLogin" maxlength="50"/>
                    <div [hidden]="!(editForm.controls.archivedUserLogin?.dirty && editForm.controls.archivedUserLogin?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.archivedUserLogin?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 50 }">
                        This field cannot be longer than 50 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.niazsanjiFardi.archivedDate" for="field_archivedDate">Archived Date</label>
                    <div class="d-flex">
                        <input id="field_archivedDate" type="datetime-local" class="form-control" name="archivedDate" [(ngModel)]="archivedDate"
                        />
                    </div>
                </div>

                <div class="form-group">
                    <label jhiTranslate="marineindustryprojApp.niazsanjiFardi.document" for="field_document">Document</label>
                    <select class="form-control" id="field_document" multiple name="document" [(ngModel)]="niazsanjiFardi.documents">
                        <option [ngValue]="getSelected(niazsanjiFardi.documents, documentOption)" *ngFor="let documentOption of documents; trackBy: trackDocumentById">{{documentOption.title}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.niazsanjiFardi.requestNiazsanjiFardi" for="field_requestNiazsanjiFardi">Request Niazsanji Fardi</label>
                    <select class="form-control" id="field_requestNiazsanjiFardi" name="requestNiazsanjiFardi" [(ngModel)]="niazsanjiFardi.requestNiazsanjiFardiId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="requestNiazsanjiFardiOption.id" *ngFor="let requestNiazsanjiFardiOption of requestniazsanjifardis; trackBy: trackRequestNiazsanjiFardiById">{{requestNiazsanjiFardiOption.code}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.niazsanjiFardi.educationalModule" for="field_educationalModule">Educational Module</label>
                    <select class="form-control" id="field_educationalModule" name="educationalModule" [(ngModel)]="niazsanjiFardi.educationalModuleId"  required>
                        <option *ngIf="!editForm.value.educationalModule" [ngValue]="null" selected></option>
                        <option [ngValue]="educationalModuleOption.id" *ngFor="let educationalModuleOption of educationalmodules; trackBy: trackEducationalModuleById">{{educationalModuleOption.title}}</option>
                    </select>
                </div>
                <div [hidden]="!(editForm.controls.educationalModule?.dirty && editForm.controls.educationalModule?.invalid)">
                    <small class="form-text text-danger"
                        [hidden]="!editForm.controls.educationalModule?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.niazsanjiFardi.person" for="field_person">Person</label>
                    <select class="form-control" id="field_person" name="person" [(ngModel)]="niazsanjiFardi.personId"  required>
                        <option *ngIf="!editForm.value.person" [ngValue]="null" selected></option>
                        <option [ngValue]="personOption.id" *ngFor="let personOption of people; trackBy: trackPersonById">{{personOption.family}}</option>
                    </select>
                </div>
                <div [hidden]="!(editForm.controls.person?.dirty && editForm.controls.person?.invalid)">
                    <small class="form-text text-danger"
                        [hidden]="!editForm.controls.person?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.niazsanjiFardi.organizationChart" for="field_organizationChart">Organization Chart</label>
                    <select class="form-control" id="field_organizationChart" name="organizationChart" [(ngModel)]="niazsanjiFardi.organizationChartId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="organizationChartOption.id" *ngFor="let organizationChartOption of organizationcharts; trackBy: trackOrganizationChartById">{{organizationChartOption.title}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
