<div>
    <h2 id="page-heading">
        <span jhiTranslate="marineindustryprojApp.skillableLevelOfSkill.home.title">Skillable Level Of Skills</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-skillable-level-of-skill-marine-suffix" [routerLink]="['/skillable-level-of-skill-marine-suffix/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="marineindustryprojApp.skillableLevelOfSkill.home.createLabel">
            Create new Skillable Level Of Skill
            </span>
        </button>
    </h2>
    <mi-alert></mi-alert>
    <br/>
    <div class="table-responsive" *ngIf="skillableLevelOfSkills">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="title"><span jhiTranslate="marineindustryprojApp.skillableLevelOfSkill.title">Title</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="code"><span jhiTranslate="marineindustryprojApp.skillableLevelOfSkill.code">Code</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <!--<th jhiSortBy="createUserLogin"><span jhiTranslate="marineindustryprojApp.skillableLevelOfSkill.createUserLogin">Create User Login</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="createDate"><span jhiTranslate="marineindustryprojApp.skillableLevelOfSkill.createDate">Create Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="modifyUserLogin"><span jhiTranslate="marineindustryprojApp.skillableLevelOfSkill.modifyUserLogin">Modify User Login</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="modifyDate"><span jhiTranslate="marineindustryprojApp.skillableLevelOfSkill.modifyDate">Modify Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>-->
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let skillableLevelOfSkill of skillableLevelOfSkills ;trackBy: trackId">
                <td><a [routerLink]="['/skillable-level-of-skill-marine-suffix', skillableLevelOfSkill.id, 'view' ]">{{skillableLevelOfSkill.id}}</a></td>
                <td>{{skillableLevelOfSkill.title}}</td>
                <td>{{skillableLevelOfSkill.code}}</td>
                <!--<td>{{skillableLevelOfSkill.createUserLogin}}</td>
                <td>{{skillableLevelOfSkill.createDate | date:'medium'}}</td>
                <td>{{skillableLevelOfSkill.modifyUserLogin}}</td>
                <td>{{skillableLevelOfSkill.modifyDate | date:'medium'}}</td>-->
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/skillable-level-of-skill-marine-suffix', skillableLevelOfSkill.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/skillable-level-of-skill-marine-suffix', skillableLevelOfSkill.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'skillable-level-of-skill-marine-suffix/'+ skillableLevelOfSkill.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="1">
                    <select [(ngModel)] = "itemsPerPage" (change)="loadAll()">
                        <option value="10">۱۰</option>
                        <option selected="selected" value="20">۲۰</option>
                        <option value="50">۵۰</option>
                        <option value="100">۱۰۰</option>
                        <option value="500">۵۰۰</option>
                    </select>
                    <div class="row justify-content-center">
                        <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
                    </div>
                </td>

                <td colspan="3">
                    <div *ngIf="skillableLevelOfSkills && skillableLevelOfSkills.length">

                        <div class="row justify-content-center">
                            <ngb-pagination [collectionSize]="totalItems" [maxSize]="5" [pageSize]="itemsPerPage" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
                        </div>
                    </div>
                </td>
            </tr>

            </tfoot>
        </table>
    </div>
</div>
