<nav *ngIf="isAuthenticated()">
    <div class="col-xs-12 bgWhite lightShadow topMenu">
        <ul class="nav justify-content-end" style="padding-inline-start: 0px;">
            <li class="nav-item" style="flex-grow: 1">
                <!--<button (click)="changeTyping()" style="display: inline" class="btn btn-sm btn-info">تغییر حالت</button>-->
                <div id="typingDiv" class="typingClass" [@enterAnimation] *ngIf="show">
                    <!--<div id="typing"></div>-->
                    {{currentSpeech}}
                </div>

            </li>
            <ng-container *ngIf="isAdmin">
                <li class="nav-item seperate-left seperate-right">
                    <a class="nav-link excepted-menu" href="#/users-request-marine-suffix">
                        <span class="bell-contain" style="padding: 6px">
                        <fa-icon [icon]="'envelope'"></fa-icon>
                        <span *ngIf="usersRequestCounter != undefined" class="badge badge-success ">{{usersRequestCounter}}</span>
                        </span>
                    </a>
                </li>
                <li class="nav-item seperate-left seperate-right">
                    <a class="nav-link excepted-menu" href="#/request-educational-module-marine-suffix">
                        <span class="bell-contain" style="padding: 6px">
                        <fa-icon [icon]="'flag'"></fa-icon>
                        <span *ngIf="EducationalModuleRequestCounter != undefined" class="badge badge-info">{{EducationalModuleRequestCounter}}</span>
                        </span>
                    </a>
                </li>
                <li class="nav-item seperate-left seperate-right">
                    <a class="nav-link excepted-menu" href="#/request-organization-niazsanji-marine-suffix">
                        <span class="bell-contain" style="padding: 6px">
                        <fa-icon [icon]="'bell'"></fa-icon>
                        <span *ngIf="counter != undefined" class="badge badge-warning ">{{counter}}</span>
                        </span>
                    </a>
                </li>
            </ng-container>
            <!--<li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{currentUserFullName}}</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">پنل کاربری</a>
                    <a class="dropdown-item" href="#">ویرایش اطلاعات</a>
                    <a class="dropdown-item" href="#">درخواست دسترسی</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item red" href="#" (click)="logout();">
                        <fa-icon [icon]="'sign-out-alt'"></fa-icon>
                        <span>خروج از حساب</span>
                    </a>
                </div>
            </li>-->
            <li class="nav-item seperate-left seperate-right dropdown user user-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <img [src]="imgUrl | safe" class="user-image" alt="User Image">
                    <span class="hidden-xs" id="currenUserFullNameTopBar">{{currentUserFullName}}</span>
                </a>
                <ul class="dropdown-menu">
                    <!-- User image -->
                    <li class="user-header">
                        <img [src]="imgUrl | safe" class="img-circle" alt="User Image">

                        <p>
                            {{currentUserFullName}}
                            <!--<small>Member since Nov. 2012</small>-->
                        </p>
                        <p> {{jobTitle}}</p>
                    </li>
                    <!-- Menu Body -->
                    <!-- <li class="user-body">
                         <div class="row">
                             <div class="col-xs-4 text-center">
                                 <a href="#">Followers</a>
                             </div>
                             <div class="col-xs-4 text-center">
                                 <a href="#">Sales</a>
                             </div>
                             <div class="col-xs-4 text-center">
                                 <a href="#">Friends</a>
                             </div>
                         </div>
                         &lt;!&ndash; /.row &ndash;&gt;
                     </li>-->
                    <!-- Menu Footer-->
                    <li class="user-footer">
                        <div class="pull-left">
                            <a href="#/settings" class="btn btn-default btn-flat">پروفایل</a>
                        </div>
                        <div class="pull-right">
                            <a href="#" (click)="logout()" class="btn btn-default btn-flat">
                                <fa-icon [icon]="'sign-out-alt'"></fa-icon>
                                <span>خروج از حساب</span>
                            </a>
                        </div>
                    </li>
                </ul>
            </li>
            <li class="nav-item seperate-right">
                <a class="nav-link" href="#">
                    <i class="fa fa-home"></i>
                </a>
            </li>

        </ul>
        <!--<ul class="nav" style="float: right;display: inline-block">
            <li>


            &lt;!&ndash;<li *ngFor="let speech of speeches" class="typing">
                {{speech}}
            </li>&ndash;&gt;
        </ul>-->
    </div>
</nav>
<nav *ngIf="!isAuthenticated()" class="back-cover">
</nav>
