<div>
    <h2 id="page-heading">
        <span jhiTranslate="marineindustryprojApp.navBarItemAuthority.home.title">Nav Bar Item Authorities</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-nav-bar-item-authority-marine-suffix" [routerLink]="['/nav-bar-item-authority-marine-suffix/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="marineindustryprojApp.navBarItemAuthority.home.createLabel">
            Create new Nav Bar Item Authority
            </span>
        </button>
    </h2>
    <mi-alert></mi-alert>
    <br/>
    <div class="table-responsive" *ngIf="navBarItemAuthorities">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="authorityName"><span jhiTranslate="marineindustryprojApp.navBarItemAuthority.authorityName">Authority Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="hasEditPermission"><span jhiTranslate="marineindustryprojApp.navBarItemAuthority.hasEditPermission">Has Edit Permission</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="createUserLogin"><span jhiTranslate="marineindustryprojApp.navBarItemAuthority.createUserLogin">Create User Login</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="createDate"><span jhiTranslate="marineindustryprojApp.navBarItemAuthority.createDate">Create Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="modifyUserLogin"><span jhiTranslate="marineindustryprojApp.navBarItemAuthority.modifyUserLogin">Modify User Login</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="modifyDate"><span jhiTranslate="marineindustryprojApp.navBarItemAuthority.modifyDate">Modify Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="navBarItemTitle"><span jhiTranslate="marineindustryprojApp.navBarItemAuthority.navBarItem">Nav Bar Item</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let navBarItemAuthority of navBarItemAuthorities ;trackBy: trackId">
                <td><a [routerLink]="['/nav-bar-item-authority-marine-suffix', navBarItemAuthority.id, 'view' ]">{{navBarItemAuthority.id}}</a></td>
                <td>{{navBarItemAuthority.authorityName}}</td>
                <td>{{navBarItemAuthority.hasEditPermission}}</td>
                <td>{{navBarItemAuthority.createUserLogin}}</td>
                <td>{{navBarItemAuthority.createDate | date:'medium'}}</td>
                <td>{{navBarItemAuthority.modifyUserLogin}}</td>
                <td>{{navBarItemAuthority.modifyDate | date:'medium'}}</td>
                <td>
                    <div *ngIf="navBarItemAuthority.navBarItemId">
                        <a [routerLink]="['../nav-bar-item-marine-suffix', navBarItemAuthority.navBarItemId , 'view' ]" >{{navBarItemAuthority.navBarItemTitle}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/nav-bar-item-authority-marine-suffix', navBarItemAuthority.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/nav-bar-item-authority-marine-suffix', navBarItemAuthority.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'nav-bar-item-authority-marine-suffix/'+ navBarItemAuthority.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="navBarItemAuthorities && navBarItemAuthorities.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
