<div>
    <h2 id="page-heading">
        <span jhiTranslate="marineindustryprojApp.person.home.title">People</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-person-marine-suffix" [routerLink]="['/person-marine-suffix/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="marineindustryprojApp.person.home.createLabel">
            Create new Person
            </span>
        </button>
        <button class="btn btn-info btn-raised float-left" jhiTranslate="entity.action.getexcel" (click)="export()">
            <span class="fa fa-file-excel-o"></span>
    excel
        </button>
    </h2>
    <mi-alert></mi-alert>
    <div class="row">
        <search-panel class="col-md-12" [searchPanelModel]="searchbarModel"></search-panel>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="people">
        <table class="table  table-striped table-bordered table-hover table-sm">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <!--<th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>-->
                <th>ردیف</th>
            <th jhiSortBy="personelCode"><span jhiTranslate="marineindustryprojApp.person.personelCode">Personel Code</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="name"><span jhiTranslate="marineindustryprojApp.person.name">Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <!--<th jhiSortBy="family"><span jhiTranslate="marineindustryprojApp.person.family">Family</span> <fa-icon [icon]="'sort'"></fa-icon></th>-->
            <th jhiSortBy="fatherName"><span jhiTranslate="marineindustryprojApp.person.fatherName">Father Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <!--<th jhiSortBy="certificateNumber"><span jhiTranslate="marineindustryprojApp.person.certificateNumber">Certificate Number</span> <fa-icon [icon]="'sort'"></fa-icon></th>-->
            <th jhiSortBy="nationalId"><span jhiTranslate="marineindustryprojApp.person.nationalId">National Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <!--<th jhiSortBy="birthDate"><span jhiTranslate="marineindustryprojApp.person.birthDate">Birth Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            
            <th jhiSortBy="employmentDate"><span jhiTranslate="marineindustryprojApp.person.employmentDate">Employment Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="yearOfService"><span jhiTranslate="marineindustryprojApp.person.yearOfService">Year Of Service</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="code"><span jhiTranslate="marineindustryprojApp.person.code">Code</span> <fa-icon [icon]="'sort'"></fa-icon></th>-->
            <!--<th jhiSortBy="createUserLogin"><span jhiTranslate="marineindustryprojApp.person.createUserLogin">Create User Login</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="createDate"><span jhiTranslate="marineindustryprojApp.person.createDate">Create Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="modifyUserLogin"><span jhiTranslate="marineindustryprojApp.person.modifyUserLogin">Modify User Login</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="modifyDate"><span jhiTranslate="marineindustryprojApp.person.modifyDate">Modify Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>-->
            <!--<th jhiSortBy="archived"><span jhiTranslate="marineindustryprojApp.person.archived">Archived</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="archivedUserLogin"><span jhiTranslate="marineindustryprojApp.person.archivedUserLogin">Archived User Login</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="archivedDate"><span jhiTranslate="marineindustryprojApp.person.archivedDate">Archived Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="status"><span jhiTranslate="marineindustryprojApp.person.status">Status</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="lastQualificationTitle"><span jhiTranslate="marineindustryprojApp.person.lastQualification">Last Qualification</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="lastFieldOfStudyTitle"><span jhiTranslate="marineindustryprojApp.person.lastFieldOfStudy">Last Field Of Study</span> <fa-icon [icon]="'sort'"></fa-icon></th>

            <th jhiSortBy="workGroupTitle"><span jhiTranslate="marineindustryprojApp.person.workGroup">Work Group</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="workIndustryTitle"><span jhiTranslate="marineindustryprojApp.person.workIndustry">Work Industry</span> <fa-icon [icon]="'sort'"></fa-icon></th>-->
            <th jhiSortBy="jobTitle"><span jhiTranslate="marineindustryprojApp.person.job">Job</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="practicaljobTitle"><span jhiTranslate="marineindustryprojApp.person.practicaljob">Practicaljob</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="organizationChartTitle"><span jhiTranslate="marineindustryprojApp.person.organizationChart">Organization Chart</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th jhiSortBy="employmentTypeTitle"><span jhiTranslate="marineindustryprojApp.person.employmentType">Employment Type</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let person of people;let i = index">
                <!--<td><a [routerLink]="['/person-marine-suffix', person.id, 'view' ]">{{person.id}}</a></td>-->
                <td>{{i+1}}</td>
                <td>{{person.personelCode}}</td>
                <!--<td>{{person.name}} {{person.family}}</td>-->
                <td>{{person.fullName}}</td>
                <td>{{person.fatherName}}</td>
                <!--<td>{{person.certificateNumber}}</td>-->
                <td>{{person.nationalId}}</td>
                <!--<td>{{person.birthDate | date:'medium'}}</td>
            
                <td>{{person.employmentDate | date:'medium'}}</td>
                <td>{{person.yearOfService}}</td>
                <td>{{person.code}}</td>-->
                <!--<td>{{person.createUserLogin}}</td>
                <td>{{person.createDate | date:'medium'}}</td>
                <td>{{person.modifyUserLogin}}</td>
                <td>{{person.modifyDate | date:'medium'}}</td>-->
                <!--<td>{{person.archived}}</td>
                <td>{{person.archivedUserLogin}}</td>
                <td>{{person.archivedDate | date:'medium'}}</td>
                <td>{{person.status}}</td>-->
                <!--<td>
                    <div *ngIf="person.lastQualificationId">
                        <a [routerLink]="['../qualification-marine-suffix', person.lastQualificationId , 'view' ]" >{{person.lastQualificationTitle}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="person.lastFieldOfStudyId">
                        <a [routerLink]="['../field-of-study-marine-suffix', person.lastFieldOfStudyId , 'view' ]" >{{person.lastFieldOfStudyTitle}}</a>
                    </div>
                </td>

                <td>
                    <div *ngIf="person.workGroupId">
                        <a [routerLink]="['../work-group-marine-suffix', person.workGroupId , 'view' ]" >{{person.workGroupTitle}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="person.workIndustryId">
                        <a [routerLink]="['../work-industry-marine-suffix', person.workIndustryId , 'view' ]" >{{person.workIndustryTitle}}</a>
                    </div>
                </td>-->
                <td>
                    <div *ngIf="person.jobId">
                        <a [routerLink]="['../job-marine-suffix', person.jobId , 'view' ]" >{{person.jobTitle}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="person.practicaljobId">
                        <a [routerLink]="['../job-marine-suffix', person.practicaljobId , 'view' ]" >{{person.practicaljobTitle}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="person.organizationChartId">
                        <a [routerLink]="['../organization-chart-marine-suffix', person.organizationChartId , 'view' ]" >{{person.organizationChartTitle}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="person.employmentTypeId">
                        <a [routerLink]="['../employment-type-marine-suffix', person.employmentTypeId , 'view' ]" >{{person.employmentTypeTitle}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                      <button type="submit"
                                [routerLink]="['../document-marine-suffix', 'person',person.id ]"
                                class="btn btn-light btn-sm">
                            <span class="fa fa-file"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.documents">Documents</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/person-marine-suffix', person.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/person-marine-suffix', person.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'person-marine-suffix/'+ person.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="8">
                    <select [(ngModel)] = "itemsPerPage" (change)="loadAll()">
                        <option value="10">۱۰</option>
                        <option selected="selected" value="20">۲۰</option>
                        <option value="50">۵۰</option>
                        <option value="100">۱۰۰</option>
                        <option value="500">۵۰۰</option>
                    </select>
                    <div class="row justify-content-center">
                        <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
                    </div>
                </td>

                <td colspan="5">

                </td>
            </tr>

            </tfoot>
        </table>
        <div *ngIf="people && people.length">

            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [maxSize]="5" [pageSize]="itemsPerPage" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
    </div>
</div>
