<div>
    <h2 id="page-heading">
        <span jhiTranslate="marineindustryprojApp.niazsanjiGroup.home.title">Niazsanji Groups</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-niazsanji-group-marine-suffix" [routerLink]="['/niazsanji-group-marine-suffix/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="marineindustryprojApp.niazsanjiGroup.home.createLabel">
            Create new Niazsanji Group
            </span>
        </button>
        <button class="btn btn-info float-left" jhiTranslate="entity.action.getexcel" (click)="export()">
            <span class="fa fa-file-excel-o"></span>
            excel
        </button>
    </h2>
    <div *ngIf="_report.fileDoc">
        <hr/>
        <h2>
            <a (click)="openFile(_report.fileDocContentType, _report.fileDoc)" class="btn btn-success" id="openFileBtn" jhiTranslate="entity.action.openreport">open</a>
        </h2>
    </div>
    <mi-alert></mi-alert>
    <br/>
    <div class="table-responsive" *ngIf="niazsanjiGroups">
        <table class="table table-striped  table-bordered table-hover table-sm">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="editorPerson"><span jhiTranslate="marineindustryprojApp.niazsanjiGroup.editorPerson">Editor Person</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="reviewDate"><span jhiTranslate="marineindustryprojApp.niazsanjiGroup.reviewDate">Review Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="scheduleDate"><span jhiTranslate="marineindustryprojApp.niazsanjiGroup.scheduleDate">Schedule Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="firstThreeJobCode"><span jhiTranslate="marineindustryprojApp.niazsanjiGroup.firstThreeJobCode">First Three Job Code</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="priceCost"><span jhiTranslate="marineindustryprojApp.niazsanjiGroup.priceCost">Price Cost</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="description"><span jhiTranslate="marineindustryprojApp.niazsanjiGroup.description">Description</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <!--<th jhiSortBy="createUserLogin"><span jhiTranslate="marineindustryprojApp.niazsanjiGroup.createUserLogin">Create User Login</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="createDate"><span jhiTranslate="marineindustryprojApp.niazsanjiGroup.createDate">Create Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="modifyUserLogin"><span jhiTranslate="marineindustryprojApp.niazsanjiGroup.modifyUserLogin">Modify User Login</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="modifyDate"><span jhiTranslate="marineindustryprojApp.niazsanjiGroup.modifyDate">Modify Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="archived"><span jhiTranslate="marineindustryprojApp.niazsanjiGroup.archived">Archived</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="archivedUserLogin"><span jhiTranslate="marineindustryprojApp.niazsanjiGroup.archivedUserLogin">Archived User Login</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="archivedDate"><span jhiTranslate="marineindustryprojApp.niazsanjiGroup.archivedDate">Archived Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="status"><span jhiTranslate="marineindustryprojApp.niazsanjiGroup.status">Status</span> <fa-icon [icon]="'sort'"></fa-icon></th>-->
            <th jhiSortBy="scientificWorkGroupTitle"><span jhiTranslate="marineindustryprojApp.niazsanjiGroup.scientificWorkGroup">Scientific Work Group</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let niazsanjiGroup of niazsanjiGroups ;trackBy: trackId">
                <td><a [routerLink]="['/niazsanji-group-marine-suffix', niazsanjiGroup.id, 'view' ]">{{niazsanjiGroup.id}}</a></td>
                <td>{{niazsanjiGroup.editorPerson}}</td>
                <td>{{niazsanjiGroup.reviewDate}}</td>
                <td>{{niazsanjiGroup.scheduleDate}}</td>
                <td>{{niazsanjiGroup.firstThreeJobCode}}</td>
                <td>{{niazsanjiGroup.priceCost}}</td>
                <td>{{niazsanjiGroup.description}}</td>
                <!--<td>{{niazsanjiGroup.createUserLogin}}</td>
                <td>{{niazsanjiGroup.createDate | date:'medium'}}</td>
                <td>{{niazsanjiGroup.modifyUserLogin}}</td>
                <td>{{niazsanjiGroup.modifyDate | date:'medium'}}</td>
                <td>{{niazsanjiGroup.archived}}</td>
                <td>{{niazsanjiGroup.archivedUserLogin}}</td>
                <td>{{niazsanjiGroup.archivedDate | date:'medium'}}</td>
                <td>{{niazsanjiGroup.status}}</td>-->
                <td>
                    <div *ngIf="niazsanjiGroup.scientificWorkGroupId">
                        <a [routerLink]="['../scientific-work-group-marine-suffix', niazsanjiGroup.scientificWorkGroupId , 'view' ]" >{{niazsanjiGroup.scientificWorkGroupTitle}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container" >
                        <button  type="submit"
                                [routerLink]="['/niazsanji-group-marine-suffix', niazsanjiGroup.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button *ngIf="niazsanjiGroup.status == 0" type="submit"
                                [routerLink]="['/niazsanji-group-marine-suffix', niazsanjiGroup.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button *ngIf="niazsanjiGroup.status == 0" type="submit"
                                [routerLink]="['/', { outlets: { popup: 'niazsanji-group-marine-suffix/'+ niazsanjiGroup.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                        <button type="button" id="print-entity" class="btn btn-primary" (click)="makeReport(niazsanjiGroup.id)">
                            <fa-icon [icon]="'chart-area'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.report">report</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="4">
                    <select [(ngModel)] = "itemsPerPage" (change)="loadAll()">
                        <option value="10">۱۰</option>
                        <option selected="selected" value="20">۲۰</option>
                        <option value="50">۵۰</option>
                        <option value="100">۱۰۰</option>
                        <option value="500">۵۰۰</option>
                    </select>
                    <div class="row justify-content-center">
                        <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
                    </div>
                </td>

                <td colspan="5">
                    <div *ngIf="niazsanjiGroups && niazsanjiGroups.length">

                        <div class="row justify-content-center">
                            <ngb-pagination [collectionSize]="totalItems" [maxSize]="5" [pageSize]="itemsPerPage" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
                        </div>
                    </div>
                </td>
            </tr>

            </tfoot>
        </table>
    </div>
</div>
