<div>
    <h2 id="page-heading">
        <span jhiTranslate="marineindustryprojApp.pollItem.home.title">Poll Items</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-poll-item-marine-suffix" [routerLink]="['/poll-item-marine-suffix/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="marineindustryprojApp.pollItem.home.createLabel">
            Create new Poll Item
            </span>
        </button>
    </h2>
    <mi-alert></mi-alert>
    <br/>
    <div class="table-responsive" *ngIf="pollItems">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="title"><span jhiTranslate="marineindustryprojApp.pollItem.title">Title</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="displayOrder"><span jhiTranslate="marineindustryprojApp.pollItem.displayOrder">Display Order</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="coefficient"><span jhiTranslate="marineindustryprojApp.pollItem.coefficient">Coefficient</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="description"><span jhiTranslate="marineindustryprojApp.pollItem.description">Description</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="createUserLogin"><span jhiTranslate="marineindustryprojApp.pollItem.createUserLogin">Create User Login</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="createDate"><span jhiTranslate="marineindustryprojApp.pollItem.createDate">Create Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="modifyUserLogin"><span jhiTranslate="marineindustryprojApp.pollItem.modifyUserLogin">Modify User Login</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="modifyDate"><span jhiTranslate="marineindustryprojApp.pollItem.modifyDate">Modify Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="criterionTitle"><span jhiTranslate="marineindustryprojApp.pollItem.criterion">Criterion</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let pollItem of pollItems ;trackBy: trackId">
                <td><a [routerLink]="['/poll-item-marine-suffix', pollItem.id, 'view' ]">{{pollItem.id}}</a></td>
                <td>{{pollItem.title}}</td>
                <td>{{pollItem.displayOrder}}</td>
                <td>{{pollItem.coefficient}}</td>
                <td>{{pollItem.description}}</td>
                <td>{{pollItem.createUserLogin}}</td>
                <td>{{pollItem.createDate | date:'medium'}}</td>
                <td>{{pollItem.modifyUserLogin}}</td>
                <td>{{pollItem.modifyDate | date:'medium'}}</td>
                <td>
                    <div *ngIf="pollItem.criterionId">
                        <a [routerLink]="['../criterion-marine-suffix', pollItem.criterionId , 'view' ]" >{{pollItem.criterionTitle}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/poll-item-marine-suffix', pollItem.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/poll-item-marine-suffix', pollItem.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'poll-item-marine-suffix/'+ pollItem.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="pollItems && pollItems.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
