<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="courseLocation" class="detail-page">
            <h2><span jhiTranslate="marineindustryprojApp.courseLocation.detail.title">Course Location</span> {{courseLocation.id}}</h2>
            <hr>
            <mi-alert-error></mi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="marineindustryprojApp.courseLocation.title">Title</span></dt>
                <dd>
                    <span>{{courseLocation.title}}</span>
                </dd>
                <dt><span jhiTranslate="marineindustryprojApp.courseLocation.code">Code</span></dt>
                <dd>
                    <span>{{courseLocation.code}}</span>
                </dd>
                <dt><span jhiTranslate="marineindustryprojApp.courseLocation.description">Description</span></dt>
                <dd>
                    <span>{{courseLocation.description}}</span>
                </dd>
                <dt><span jhiTranslate="marineindustryprojApp.courseLocation.createUserLogin">Create User Login</span></dt>
                <dd>
                    <span>{{courseLocation.createUserLogin}}</span>
                </dd>
                <dt><span jhiTranslate="marineindustryprojApp.courseLocation.createDate">Create Date</span></dt>
                <dd>
                    <span>{{courseLocation.createDate}}</span>
                </dd>
                <dt><span jhiTranslate="marineindustryprojApp.courseLocation.modifyUserLogin">Modify User Login</span></dt>
                <dd>
                    <span>{{courseLocation.modifyUserLogin}}</span>
                </dd>
                <dt><span jhiTranslate="marineindustryprojApp.courseLocation.modifyDate">Modify Date</span></dt>
                <dd>
                    <span>{{courseLocation.modifyDate}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

           <!-- <button type="button"
                    [routerLink]="['/course-location-marine-suffix', courseLocation.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>-->
        </div>
    </div>
</div>
