<div>
    <h2 id="page-heading">
        <span jhiTranslate="marineindustryprojApp.runningStep.home.title">Running Steps</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-running-step-marine-suffix" [routerLink]="['/running-step-marine-suffix/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="marineindustryprojApp.runningStep.home.createLabel">
            Create new Running Step
            </span>
        </button>
    </h2>
    <mi-alert></mi-alert>
    <br/>
    <div class="table-responsive" *ngIf="runningSteps">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="title"><span jhiTranslate="marineindustryprojApp.runningStep.title">Title</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="description"><span jhiTranslate="marineindustryprojApp.runningStep.description">Description</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="stepNumber"><span jhiTranslate="marineindustryprojApp.runningStep.stepNumber">Step Number</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="stepRequired"><span jhiTranslate="marineindustryprojApp.runningStep.stepRequired">Step Required</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="createUserLogin"><span jhiTranslate="marineindustryprojApp.runningStep.createUserLogin">Create User Login</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="createDate"><span jhiTranslate="marineindustryprojApp.runningStep.createDate">Create Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="modifyUserLogin"><span jhiTranslate="marineindustryprojApp.runningStep.modifyUserLogin">Modify User Login</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="modifyDate"><span jhiTranslate="marineindustryprojApp.runningStep.modifyDate">Modify Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="archived"><span jhiTranslate="marineindustryprojApp.runningStep.archived">Archived</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="archivedUserLogin"><span jhiTranslate="marineindustryprojApp.runningStep.archivedUserLogin">Archived User Login</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="archivedDate"><span jhiTranslate="marineindustryprojApp.runningStep.archivedDate">Archived Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="status"><span jhiTranslate="marineindustryprojApp.runningStep.status">Status</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let runningStep of runningSteps ;trackBy: trackId">
                <td><a [routerLink]="['/running-step-marine-suffix', runningStep.id, 'view' ]">{{runningStep.id}}</a></td>
                <td>{{runningStep.title}}</td>
                <td>{{runningStep.description}}</td>
                <td>{{runningStep.stepNumber}}</td>
                <td>{{runningStep.stepRequired}}</td>
                <td>{{runningStep.createUserLogin}}</td>
                <td>{{runningStep.createDate | date:'medium'}}</td>
                <td>{{runningStep.modifyUserLogin}}</td>
                <td>{{runningStep.modifyDate | date:'medium'}}</td>
                <td>{{runningStep.archived}}</td>
                <td>{{runningStep.archivedUserLogin}}</td>
                <td>{{runningStep.archivedDate | date:'medium'}}</td>
                <td>{{runningStep.status}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/running-step-marine-suffix', runningStep.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/running-step-marine-suffix', runningStep.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'running-step-marine-suffix/'+ runningStep.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="runningSteps && runningSteps.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
