<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="mi-educational-center-marine-suffix-heading" jhiTranslate="marineindustryprojApp.educationalCenter.home.createOrEditLabel">Create or edit a Educational Center</h2>
            <div>
                <mi-alert-error></mi-alert-error>
                <div class="form-group" [hidden]="!educationalCenter.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="educationalCenter.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.educationalCenter.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                        [(ngModel)]="educationalCenter.name" required maxlength="100"/>
                    <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.name?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.name?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 100 }">
                        This field cannot be longer than 100 characters.
                        </small>
                    </div>
                </div>
                <!--<div class="form-group">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.educationalCenter.ceo" for="field_ceo">Ceo</label>
                    <input type="text" class="form-control" name="ceo" id="field_ceo"
                        [(ngModel)]="educationalCenter.ceo" maxlength="50"/>
                    <div [hidden]="!(editForm.controls.ceo?.dirty && editForm.controls.ceo?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.ceo?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 50 }">
                        This field cannot be longer than 50 characters.
                        </small>
                    </div>
                </div>-->
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.educationalCenter.connectionPerson" for="field_connectionPerson">Connection Person</label>
                    <input type="text" class="form-control" name="connectionPerson" id="field_connectionPerson"
                        [(ngModel)]="educationalCenter.connectionPerson" maxlength="50"/>
                    <div [hidden]="!(editForm.controls.connectionPerson?.dirty && editForm.controls.connectionPerson?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.connectionPerson?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 50 }">
                        This field cannot be longer than 50 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.educationalCenter.telephone" for="field_telephone">Telephone</label>
                    <input type="text" class="form-control" name="telephone" id="field_telephone"
                        [(ngModel)]="educationalCenter.telephone" maxlength="100"/>
                    <div [hidden]="!(editForm.controls.telephone?.dirty && editForm.controls.telephone?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.telephone?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 100 }">
                        This field cannot be longer than 100 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.educationalCenter.fax" for="field_fax">Fax</label>
                    <input type="text" class="form-control" name="fax" id="field_fax"
                        [(ngModel)]="educationalCenter.fax" maxlength="50"/>
                    <div [hidden]="!(editForm.controls.fax?.dirty && editForm.controls.fax?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.fax?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 50 }">
                        This field cannot be longer than 50 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.educationalCenter.email" for="field_email">Email</label>
                    <input type="email" class="form-control" name="email" id="field_email"
                        [(ngModel)]="educationalCenter.email" maxlength="50"/>
                    <div [hidden]="!(editForm.controls.email?.dirty && editForm.controls.email?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.email?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 50 }">
                        This field cannot be longer than 50 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.educationalCenter.address" for="field_address">Address</label>
                    <textarea type="text" class="form-control" name="address" id="field_address"
                              [(ngModel)]="educationalCenter.address" maxlength="1024"></textarea>
                    <div [hidden]="!(editForm.controls.address?.dirty && editForm.controls.address?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.address?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 1024 }">
                            This field cannot be longer than 1024 characters.
                        </small>
                    </div>
                </div>
                <!--<div class="form-group">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.educationalCenter.createUserLogin" for="field_createUserLogin">Create User Login</label>
                    <input type="text" class="form-control" name="createUserLogin" id="field_createUserLogin"
                        [(ngModel)]="educationalCenter.createUserLogin" maxlength="50"/>
                    <div [hidden]="!(editForm.controls.createUserLogin?.dirty && editForm.controls.createUserLogin?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.createUserLogin?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 50 }">
                        This field cannot be longer than 50 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.educationalCenter.createDate" for="field_createDate">Create Date</label>
                    <div class="d-flex">
                        <input id="field_createDate" type="datetime-local" class="form-control" name="createDate" [(ngModel)]="createDate"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.educationalCenter.modifyUserLogin" for="field_modifyUserLogin">Modify User Login</label>
                    <input type="text" class="form-control" name="modifyUserLogin" id="field_modifyUserLogin"
                        [(ngModel)]="educationalCenter.modifyUserLogin" maxlength="50"/>
                    <div [hidden]="!(editForm.controls.modifyUserLogin?.dirty && editForm.controls.modifyUserLogin?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.modifyUserLogin?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 50 }">
                        This field cannot be longer than 50 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.educationalCenter.modifyDate" for="field_modifyDate">Modify Date</label>
                    <div class="d-flex">
                        <input id="field_modifyDate" type="datetime-local" class="form-control" name="modifyDate" [(ngModel)]="modifyDate"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.educationalCenter.archived" for="field_archived">Archived</label>
                    <input type="checkbox" class="form-control" name="archived" id="field_archived"
                        [(ngModel)]="educationalCenter.archived" />
                    <div [hidden]="!(editForm.controls.archived?.dirty && editForm.controls.archived?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.archived?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.educationalCenter.archivedUserLogin" for="field_archivedUserLogin">Archived User Login</label>
                    <input type="text" class="form-control" name="archivedUserLogin" id="field_archivedUserLogin"
                        [(ngModel)]="educationalCenter.archivedUserLogin" maxlength="50"/>
                    <div [hidden]="!(editForm.controls.archivedUserLogin?.dirty && editForm.controls.archivedUserLogin?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.archivedUserLogin?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 50 }">
                        This field cannot be longer than 50 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.educationalCenter.archivedDate" for="field_archivedDate">Archived Date</label>
                    <div class="d-flex">
                        <input id="field_archivedDate" type="datetime-local" class="form-control" name="archivedDate" [(ngModel)]="archivedDate"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.educationalCenter.status" for="field_status">Status</label>
                    <input type="number" class="form-control" name="status" id="field_status"
                        [(ngModel)]="educationalCenter.status" required/>
                    <div [hidden]="!(editForm.controls.status?.dirty && editForm.controls.status?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.status?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.status?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>-->
                <div class="form-group">
                    <a (click)="change('activity-area-marine-suffix')" jhiTranslate="marineindustryprojApp.educationalCenter.activityArea" for="field_activityArea">Activity Area</a>
                    <!--<select class="form-control" id="field_activityArea" multiple name="activityArea" [(ngModel)]="educationalCenter.activityAreas">
                        <option [ngValue]="getSelected(educationalCenter.activityAreas, activityAreaOption)" *ngFor="let activityAreaOption of activityareas; trackBy: trackActivityAreaById">{{activityAreaOption.title}}</option>
                    </select>-->
                    <ng-select
                        [items]="activityareas"
                        [multiple]="true"
                        [closeOnSelect]="true"
                        [searchable]="true"
                        [required]="false"
                        bindLabel="title"
                        placeholder="حوزه فعالیت"
                        name="activityArea"
                        id="field_activityArea"
                        [(ngModel)]="educationalCenter.activityAreas">
                </div>
                <!--<div class="form-group">
                    <label jhiTranslate="marineindustryprojApp.educationalCenter.document" for="field_document">Document</label>
                    <select class="form-control" id="field_document" multiple name="document" [(ngModel)]="educationalCenter.documents">
                        <option [ngValue]="getSelected(educationalCenter.documents, documentOption)" *ngFor="let documentOption of documents; trackBy: trackDocumentById">{{documentOption.title}}</option>
                    </select>
                </div>-->
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
