<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="mi-poll-score-marine-suffix-heading" jhiTranslate="marineindustryprojApp.pollScore.home.createOrEditLabel">Create or edit a Poll Score</h2>
            <div>
                <mi-alert-error></mi-alert-error>
                <div class="form-group" [hidden]="!pollScore.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="pollScore.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.pollScore.recommendation" for="field_recommendation">Recommendation</label>
                    <input type="text" class="form-control" name="recommendation" id="field_recommendation"
                        [(ngModel)]="pollScore.recommendation" maxlength="1024"/>
                    <div [hidden]="!(editForm.controls.recommendation?.dirty && editForm.controls.recommendation?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.recommendation?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 1024 }">
                        This field cannot be longer than 1024 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.pollScore.createUserLogin" for="field_createUserLogin">Create User Login</label>
                    <input type="text" class="form-control" name="createUserLogin" id="field_createUserLogin"
                        [(ngModel)]="pollScore.createUserLogin" maxlength="50"/>
                    <div [hidden]="!(editForm.controls.createUserLogin?.dirty && editForm.controls.createUserLogin?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.createUserLogin?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 50 }">
                        This field cannot be longer than 50 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.pollScore.createDate" for="field_createDate">Create Date</label>
                    <div class="d-flex">
                        <input id="field_createDate" type="datetime-local" class="form-control" name="createDate" [(ngModel)]="createDate"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.pollScore.modifyUserLogin" for="field_modifyUserLogin">Modify User Login</label>
                    <input type="text" class="form-control" name="modifyUserLogin" id="field_modifyUserLogin"
                        [(ngModel)]="pollScore.modifyUserLogin" maxlength="50"/>
                    <div [hidden]="!(editForm.controls.modifyUserLogin?.dirty && editForm.controls.modifyUserLogin?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.modifyUserLogin?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 50 }">
                        This field cannot be longer than 50 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.pollScore.modifyDate" for="field_modifyDate">Modify Date</label>
                    <div class="d-flex">
                        <input id="field_modifyDate" type="datetime-local" class="form-control" name="modifyDate" [(ngModel)]="modifyDate"
                        />
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.pollScore.pollItem" for="field_pollItem">Poll Item</label>
                    <select class="form-control" id="field_pollItem" name="pollItem" [(ngModel)]="pollScore.pollItemId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="pollItemOption.id" *ngFor="let pollItemOption of pollitems; trackBy: trackPollItemById">{{pollItemOption.title}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.pollScore.scoreItem" for="field_scoreItem">Score Item</label>
                    <select class="form-control" id="field_scoreItem" name="scoreItem" [(ngModel)]="pollScore.scoreItemId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="scoreItemOption.id" *ngFor="let scoreItemOption of scoreitems; trackBy: trackScoreItemById">{{scoreItemOption.title}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.pollScore.poll" for="field_poll">Poll</label>
                    <select class="form-control" id="field_poll" name="poll" [(ngModel)]="pollScore.pollId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="pollOption.id" *ngFor="let pollOption of polls; trackBy: trackPollById">{{pollOption.moreRecommendation}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.pollScore.person" for="field_person">Person</label>
                    <select class="form-control" id="field_person" name="person" [(ngModel)]="pollScore.personId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="personOption.id" *ngFor="let personOption of people; trackBy: trackPersonById">{{personOption.family}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
