@font-face {
    font-family: yekanMedium;
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/yekan/YekanBakhMedium.woff') format('woff');
}
@font-face {
    font-family: BTitrBold;
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/BTitrBold/BTitrBold.eot');
    src: url('../fonts/BTitrBold/BTitrBold.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('../fonts/BTitrBold/BTitrBold.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
    url('../fonts/BTitrBold/BTitrBold.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../fonts/BTitrBold/BTitrBold.ttf') format('truetype');
}
@font-face {
    font-family: IRANSansBlack;
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/IranSans/eot/IRANSansWeb(FaNum)_Black.eot');
    src: url('../fonts/IranSans/eot/IRANSansWeb(FaNum)_Black.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('../fonts/IranSans/woff2/IRANSansWeb(FaNum)_Black.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
    url('../fonts/IranSans/woff/IRANSansWeb(FaNum)_Black.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../fonts/IranSans/ttf/IRANSansWeb(FaNum)_Black.ttf') format('truetype');
}
@font-face {
    font-family: IranSansBold;
    font-style: normal;
    font-weight: bold;
    src: url('../fonts/IranSans/eot/IRANSansWeb(FaNum)_Bold.eot');
    src: url('../fonts/IranSans/eot/IRANSansWeb(FaNum)_Bold.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('../fonts/IranSans/woff2/IRANSansWeb(FaNum)_Bold.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
    url('../fonts/IranSans/woff/IRANSansWeb(FaNum)_Bold.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../fonts/IranSans/ttf/IRANSansWeb(FaNum)_Bold.ttf') format('truetype');
}
@font-face {
    font-family: IranSansMed;
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/IranSans/eot/IRANSansWeb(FaNum)_Medium.eot');
    src: url('../fonts/IranSans/eot/IRANSansWeb(FaNum)_Medium.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('../fonts/IranSans/woff2/IRANSansWeb(FaNum)_Medium.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
    url('../fonts/IranSans/woff/IRANSansWeb(FaNum)_Medium.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../fonts/IranSans/ttf/IRANSansWeb(FaNum)_Medium.ttf') format('truetype');
}
@font-face {
    font-family: IranSansLight;
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/IranSans/eot/IRANSansWeb(FaNum)_Light.eot');
    src: url('../fonts/IranSans/eot/IRANSansWeb(FaNum)_Light.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('../fonts/IranSans/woff2/IRANSansWeb(FaNum)_Light.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
    url('../fonts/IranSans/woff/IRANSansWeb(FaNum)_Light.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../fonts/IranSans/ttf/IRANSansWeb(FaNum)_Light.ttf') format('truetype');
}
@font-face {
    font-family: IranSansULight;
    font-style: normal;
    font-weight: 200;
    src: url('../fonts/IranSans/eot/IRANSansWeb(FaNum)_UltraLight.eot');
    src: url('../fonts/IranSans/eot/IRANSansWeb(FaNum)_UltraLight.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('../fonts/IranSans/woff2/IRANSansWeb(FaNum)_UltraLight.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
    url('../fonts/IranSans/woff/IRANSansWeb(FaNum)_UltraLight.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../fonts/IranSans/ttf/IRANSansWeb(FaNum)_UltraLight.ttf') format('truetype');
}
@font-face {
    font-family: IranSans;
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/IranSans/eot/IRANSansWeb(FaNum).eot');
    src: url('../fonts/IranSans/eot/IRANSansWeb(FaNum).eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('../fonts/IranSans/woff2/IRANSansWeb(FaNum).woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
    url('../fonts/IranSans/woff/IRANSansWeb(FaNum).woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../fonts/IranSans/ttf/IRANSansWeb(FaNum).ttf') format('truetype');
}
/* ========== Iran Yekan Fonts ========== */
@font-face {
    font-family: IranYekanBold;
    font-style: normal;
    font-weight: bold;
    src: url('../fonts/IranYekan/eot/iranyekanwebbold(fanum).eot');
    src: url('../fonts/IranYekan/eot/iranyekanwebbold(fanum).eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('../fonts/IranYekan/woff2/iranyekanwebbold(fanum).woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
    url('../fonts/IranYekan/woff/iranyekanwebbold(fanum).woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../fonts/IranYekan/ttf/iranyekanwebbold(fanum).ttf') format('truetype');
}
@font-face {
    font-family: IranYekanLight;
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/IranYekan/eot/iranyekanweblight(fanum).eot');
    src: url('../fonts/IranYekan/eot/iranyekanweblight(fanum).eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('../fonts/IranYekan/woff2/iranyekanweblight(fanum).woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
    url('../fonts/IranYekan/woff/iranyekanweblight(fanum).woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../fonts/IranYekan/ttf/iranyekanweblight(fanum).ttf') format('truetype');
}
@font-face {
    font-family: IranYekan;
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/IranYekan/eot/iranyekanwebregular(fanum).eot');
    src: url('../fonts/IranYekan/eot/iranyekanwebregular(fanum).eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('../fonts/IranYekan/woff2/iranyekanwebregular(fanum).woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
    url('../fonts/IranYekan/woff/iranyekanwebregular(fanum).woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../fonts/IranYekan/ttf/iranyekanwebregular(fanum).ttf') format('truetype');
}
/* ========== Shabnam Fonts ========== */
@font-face {
    font-family: ShabnamBold;
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/shabnam/FarsiDigits/Shabnam-Bold-FD.eot');
    src: url('../fonts/shabnam/FarsiDigits/Shabnam-Bold-FD.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('../fonts/shabnam/FarsiDigits/Shabnam-Bold-FD.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../fonts/shabnam/FarsiDigits/Shabnam-Bold-FD.ttf') format('truetype');
}
@font-face {
    font-family: Shabnam;
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/shabnam/FarsiDigits/Shabnam-FD.eot');
    src: url('../fonts/shabnam/FarsiDigits/Shabnam-FD.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('../fonts/shabnam/FarsiDigits/Shabnam-FD.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../fonts/shabnam/FarsiDigits/Shabnam-FD.ttf') format('truetype');
}
@font-face {
    font-family: ShabnamLight;
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/shabnam/FarsiDigits/Shabnam-Light-FD.eot');
    src: url('../fonts/shabnam/FarsiDigits/Shabnam-Light-FD.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('../fonts/shabnam/FarsiDigits/Shabnam-Light-FD.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../fonts/shabnam/FarsiDigits/Shabnam-Light-FD.ttf') format('truetype');
}
body{
    font-size: 0.8rem;
}
/* Embedding Fonts End */
div.tree div.tree-children::before,
div.tree::before {
    content: "";
    position: absolute;
    border-right: 1px dotted #23527c;
    height: 100%;
    top: -14px;
    right: 12px
}

div.tree {
    padding-right: 0;
    margin-right: -5px
}

div.tree div.tree-children {
    position: relative;
    padding-right: 0;
    margin-right: 16px
}

div.tree div.tree-children::before {
    right: 5px
}

div.tree tree-node>div>.node-wrapper {
    margin-right: 24px
}

div.tree tree-node>div>.node-wrapper>.node-content-wrapper {
    margin-right: 4px;
    padding-right: 30px;
}

div.tree tree-node>div.tree-node-leaf>.node-wrapper {
    margin-right: 0
}

div.tree tree-node>div::before {
    content: "";
    position: absolute;
    border-bottom: 1px dotted #23527c;
    width: 7px;
    margin-top: 12px;
    right: 7px
}

div.tree tree-node>div .toggle-children-wrapper {
    width: 13px;
    height: 13px;
    border: 1px solid #23527c;
    position: absolute;
    right: 15px;
    margin-top: 5px;
    margin-right: 0;
    display: inline-block;
    background-color: #fff;
    z-index: 1
}

div.tree tree-node>div .toggle-children-wrapper::before {
    content: "";
    display: inline-block;
    width: 7px;
    border-top: 1px solid #23527c;
    position: absolute;
    top: 5px;
    right: 2px
}

div.tree tree-node>div .toggle-children-wrapper.toggle-children-wrapper-collapsed::after {
    content: "";
    display: inline-block;
    height: 7px;
    border-right: 1px solid #23527c;
    position: absolute;
    top: 2px;
    right: 5px
}

div.tree tree-node>div .toggle-children-wrapper .toggle-children {
    display: none
}

div.tree tree-node>div .node-content-wrapper {
    margin-right: 4px;
    padding-right: 30px;
}

div.tree>tree-node>div::before {
    right: 14px
}

div.tree>tree-node>div>.node-wrapper>tree-node-expander>.toggle-children-wrapper {
    right: 22px
}

/*menu*/
ul#css3menu{display:block;font-size:0;margin-right:20px;    text-align: center}
ul#css3menu ul{padding:0;}
ul#css3menu,ul#css3menu ul{margin:0;list-style:none;padding:0;}
ul#css3menu,ul#css3menu .submenu{/*نوار اصلی*/}
ul#css3menu .submenu{display:none;position:absolute;right:0;top:80%;float:right;background-color:#4b4f51;border-width:4px 8px 4px 8px;border-radius:10px 0px 10px 10px;-moz-border-radius:10px 0px 10px 10px;-webkit-border-radius:10px;-webkit-border-top-right-radius:0px;-webkit-border-bottom-right-radius:10px;-webkit-border-bottom-left-radius:10px;border-style:solid;border-color:#4B4F51;z-index: 10;}
ul#css3menu li:hover>*{display:block;}
ul#css3menu li:hover{position:relative;}
ul#css3menu ul .submenu{position:absolute;right:100%;top:-6px;border-radius:11px;-moz-border-radius:11px;-webkit-border-radius:11px;}
ul#css3menu .column{float:right;}
ul#css3menu .column ul > :first-child a{border-top-color: #4B4F51}
ul#css3menu .column ul > :last-child a{border-bottom-color: #4B4F51}
ul#css3menu li{display:inline-block;white-space:nowrap;font-size:0;}
ul#css3menu>li,ul#css3menu li{margin:0;}
ul#css3menu a:active, ul#css3menu a:focus{outline-style:none;}
ul#css3menu a{display:block;vertical-align:middle;text-align:right;text-decoration:none;font-size:14px;color:#ffffff;cursor:pointer;padding:6px 5px 11px 5px;background-color:#127ccd;border-width:0px}
ul#css3menu ul li{display:block;width:100%}
ul#css3menu ul a{text-align:right;padding:4px 8px;background-color:#4b4f51;border-width:1px;border-style:solid;border-color:#888888 #4B4F51 #3D3D3D #4B4F51;border-radius:0px;-moz-border-radius:0px;-webkit-border-radius:0px;font-size:11px;color:#ffffff;text-decoration:none;}
ul#css3menu li:hover > a{background-color:#4b4f51;border-style:none;font-size:11px;color:#ffffff;text-decoration:none;}
ul#css3menu img{border:none;vertical-align:middle;margin-left:5px;}
ul#css3menu img.over{display:none;}
ul#css3menu li:hover > a img.def{display:none;}
ul#css3menu li:hover > a img.over{display:inline;}
ul#css3menu span{display:block;overflow:visible;background-position:right center;background-repeat:no-repeat;padding-right:0px;}
ul#css3menu ul span{padding-right:32px;}
ul#css3menu ul li:hover > a span{}
ul#css3menu ul li:hover>a{background-color:#848789;width:87%;border-style:solid;border-color:#53595C #4B4F51 #D3D5D5 #848789;color:#2E3132}
ul#css3menu.topmenu>li{margin:0 0 0 5px;}
ul#css3menu.topmenu{border-radius:0px;-moz-border-radius:0px;-webkit-border-radius:0px;padding:3px 5px 5px 0;}
ul#css3menu li.topmenu>a{border-radius:6px;-moz-border-radius:6px;-webkit-border-radius:6px;}
ul#css3menu li.topmenu:hover>a{}
ul#css3menu li.toproot>a{border-radius:9px 9px 0 0;-moz-border-radius:9px 9px 0 0;-webkit-border-radius:9px;-webkit-border-bottom-right-radius:0;-webkit-border-bottom-left-radius:0;}
ul#css3menu li.toproot:hover>a{background-color:#4b4f51;}



ul#css3menu.topmenu > :last-child a ,ul#css3menu.topmenu > :first-child a{-moz-transition: all 0.5s ease-out; /* FF4+ */ -o-transition: all 0.5s ease-out; /* Opera 10.5+ */ -webkit-transition: all 0.5s ease-out; /* Saf3.2+, Chrome */ transition: all 0.5s ease-out;}
ul#css3menu.topmenu > :last-child a:hover{background-color:#e74c3c}
ul#css3menu.topmenu > :first-child a:hover{background-color:#29c76a}

/*table*/
.table th, .table td{
    vertical-align: middle;
}
.table thead th{
    color: #0073ea !important;
    background-color: #f8f9ff;
    background-image: -webkit-linear-gradient(#f8f9ff 0%, #e3e3e3 100%);
    background-image: -moz-linear-gradient(#f8f9ff 0%, #e3e3e3 100%);
    background-image: linear-gradient(#f8f9ff 0%, #e3e3e3 100%);
    border-bottom: 2px solid #0073ea !important;
    text-align: center;
    vertical-align:  middle !important;
}
.table tr{
    text-align: center;
    vertical-align: middle !important;
}
.table-striped tbody tr:nth-of-type(odd){
    background-color: #EFF9FF !important;
}
.table-striped tbody tr:hover {
    background-color: #dbeffc !important;
}
/*.table-striped tbody tr:hover {
    background-color: #f0ffba !important;
}*/
.table-bordered th, .table-bordered td {
    border: 1px dotted #b9d5e1 !important;
}
tfoot{
    background: #f8f9ff;
    border-top: 2px solid #b9d5e1;
    background-image: -webkit-linear-gradient(#f8f9ff 0%, #e3e3e3 100%);
    background-image: -moz-linear-gradient(#f8f9ff 0%, #e3e3e3 100%);
    background-image: linear-gradient(#f8f9ff 0%, #e3e3e3 100%);
}

/*home*/

#CenterLinks a{text-decoration:none;padding:2px;background:white;display:block;margin:1px}
#CenterLinks a:hover{background:#f7f7f7}
.HomeBoxTitle{padding:3px;color:#ffffff;margin-top:5px;font-size:16px}
/*.HomeBox{background:#1a75ba;float:right;width:31%;cursor:pointer;padding:15px 0px 15px 0px;margin:2px;border-radius:4px;-webkit-transition: all 0.3s ease;transition: all 0.3s ease;}*/
.HomeBox{/*background:linear-gradient(to right top, #00aeef, rgba(34, 209, 119, 0.8));*/
    background-color: #0093E9;
    background-image: linear-gradient(45deg, #0093E9 0%, #80D0C7 100%);
    /*background:white;border: 1px dashed #cccccc;*/
    float:right;width:31%;cursor:pointer;padding:15px 0px 15px 0px;margin:2px;border-radius:4px;-webkit-transition: all 0.3s ease;transition: all 0.3s ease;}
/*.HomeBox:hover{background:#1a75ba;    box-shadow: 0 2px 8px #334;*/
.HomeBox:hover{background:linear-gradient(to right top,rgba(34, 209, 119, 0.8) ,#00aeef); box-shadow: 0 2px 8px #334;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    opacity: 1;
}
.divContent {
    width: 100%;
}

/*modal*/
.modal-header {
    color: white !important;
    background-color: #007bff !important;
}
.modal-footer {
    background-color: #e0e0e0 !important;
}
.modal-body {
    padding: 25px !important;
}
button.close {
    text-shadow: none !important;
    color: white;
    opacity: 1 !important;
}
dd, dt {
    display: inline-block;
    width: 24%;
    margin: 0 0 15px 0;
}
.form-group {
    margin-bottom: 1rem;
    display: inline-block;
    width: 33%;
    padding: 0 0 0 20px;
    vertical-align: top;
}
.card-body .form-group {
    margin-bottom: 1rem;
    display: inline-block;
    width: 24%;
    padding: 0 0 0 20px;
    vertical-align: top;
}
.form-group.half{
    width: 48%;
}
.form-group.bighalf{
    width: 65%;
}
.form-group.fullcover {
    width: 100%;
}
input[type=checkbox] {
    width: 15px;
    display: inline-block;
    height: 15px;
    margin: 10px;
}
/*form[name="editForm"] {
    position: relative;
}
form[name="editForm"]:before {
    content: "";
    position: absolute;
    display: block;
    width: 1px;
    top: 50px;
    bottom: 54px;
    right: 49%;
    margin-right: -10px;
    background-color: #ced4da;
}*/
.detail-page a{
    color: currentColor;
    cursor: not-allowed;
    text-decoration: none;
    pointer-events: none;
}
form[name="editForm"], .detail-page {
    border: 1px solid #28a745;
}
form[name="editForm"] h2, .detail-page h2 {
    background-color: aliceblue;
    padding: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
form[name="editForm"] h2 ~ div,.detail-page dl{
    padding: 15px;
}
.detail-page>div:last-child{
    padding: 15px;
}
form[name="editForm"]>div:last-child, .detail-page>div:last-child  {
    background-color: rgba(0, 0, 0, 0.03);
    border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.excepted-menu {
    background-color: transparent !important;
    color: initial !important;
    padding: 0 !important;
}

.edit-hide{
    display: none;
}

.pad-right-0 {
    padding-right: 0;
}

.dccContainer {
    width: 90%!important;
    margin: 20px 5px 0 0;
}
.dccContainer span {
    font: normal normal 14px/40px IranSans;
    color: #006990;
}
.dccContainer span.detHeader {
    text-align: left;
    font: normal normal 14px/40px Shabnam;
    color: #7fb4c7;
}
.divider-title {
    position: absolute;
    height: 25px;
    margin-top: calc(-1.5rem - 5px);
    margin-right: 20px;
    padding: 0 15px;
    font: normal normal 12px/23px IranYekan;
    color: #00c4e6;
    background: #fff;
    border: 1px solid #e9ecef;
    border-radius: 20px;
}

.justify-content-center .col-8 {
    width: 98% !important;
    max-width: 98% !important;
    flex: auto;
}
nav.back-cover {
    position: relative;
    height: 100vh;
}
.back-cover:before {
    background: url(/content/images/login.jpg) no-repeat center center;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 900px;
    max-width: 900px;
    margin: auto;
    background-size: 100%;
    z-index: 1041;
}
.back-cover .modal-dialog {
    transform: translate(-280px, 0%) !important;
    -moz-transform: translate(-280px, 0%) !important;
    -webkit-transform: translate(-280px, 0%) !important;
    margin: 20vh auto 0px !important;
}
.back-cover .modal-content {
    background: transparent !important;
    width: 75% !important;
    border: 0 !important;
}
.back-cover .form {
    background: rgba(255,255,255,0.3) !important;
    box-shadow: none !important;
}
.back-cover .form-panel {
    padding: 0 20px 0 0 !important;
}
.back-cover .form-panel.two {
    background: rgba(255,255,255,0.3) !important;
    padding: 20px !important;
}
.back-cover .form-panel.two:hover:before, .back-cover .form-panel.two:hover:after {
    opacity: 1 !important;
}
.back-cover .form-panel.two:hover {
    box-shadow: none !important;
}
.back-cover .form-panel.two.active {
    background: #4285F4 !important;
}
.back-cover .form-panel.two:before {
    content: "\62B\628\62A\200C\646\627\645" !important;
    display: block !important;
    position: absolute !important;
    top: 40px !important;
    left: 1.5% !important;
    background: transparent !important;
    height: 80px !important;
    width: 46px !important;
    color: white  !important;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    transform: rotate(270deg);
    padding: 5px  !important;
    background-color: #4285F4 !important;
}
.back-cover .form-panel.two:after{
    display: none !important;
}
.back-cover .form-header {
    margin: 0 0 40px !important;
}
.back-cover .form-panel.two.active {
    left: 0 !important;
}
.back-cover .form-panel.two.active:before {
    display: none !important;
}
.back-cover .form-toggle {
    top: 24px !important;
    right: 20px !important;
}
.btn{
    margin: 0 3px;
}
.grid {
    min-height: 400px;
    align-items: flex-start;
}
.grid>div {
    align-items: stretch;
}
.table tr a:not(.btn){
    color: currentColor;
    cursor: not-allowed;
    text-decoration: none;
    pointer-events: none;
}

/*
.detail-page a{
    color: currentColor;
    cursor: not-allowed;
    text-decoration: none;
    pointer-events: none;
}*/
#page-heading{
    text-align: center;
    font-family: BTitrBold;
}
#page-heading + span{
    display: inline-block;
    text-align: center;
    margin: auto;
}
#page-heading .jh-create-entity {
    float: right !important;
}
